<table class="table table-hover">

				<thead>

					<th>Artist</th>

					<th>Song</th>

					<th>Rate</th>

				</thead>

				<tbody>

					<!-- insert music data from server into here as a TR and TD -->

					<!-- ui sref allows me to insert the specific song that was clicked AND dynamically communicate it THROUGH the URL dynamically
						
						Each song that is clicked gets sent to the edit controller
			
					 -->
						
					<tr ng-repeat="songs in vm.data" ui-sref="edit({id: songs._id, artist: songs.artist, title: songs.title, rating: songs.rating})">
						
						<td>{{songs.artist}}</td>

						<td>{{songs.title}}</td>

						<td>{{songs.rating}}</td>

					</tr>

				</tbody>


</table>

<a ui-sref="add" class="btn btn-primary">Add new song to playlist</a>
	
